 
<div class="container">
    <h1>My quote</h1>
    <hr>
     <!-- <app-form (emitQuote)="addQuote($event)"></app-form> --> -->
    <div class="row">
        <div class="col-md-16">
            <div *ngFor='let quote of quote;let i = index'>
                 <!-- <p appHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</p>
          <p  *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p> --> -->
                <ul>
                    <li appHighlight> <span class="text-danger" > {{quote.id}}</span> {{quote.quote}} {{quote.Upvotes}} </li> 
                </ul>
            </div>
            
          <div class="col-md-8">
            <app-quote-form></app-quote-form>
          </div>
        
        <p *ngIf='quote.length > 5'>You have too many goals</p>
      </div>
        </div>

         <!-- <button class="btn btn-primary" (click)="upvotes(0)">Upvote</button>
        <button class="btn" (click)="downvotes(0)">Downvotes</button> -->
         <!-- </div>button class="btn btn-danger" (click)="delete quote(0)">Delete</button> --> -->
         
    </div>
