 <div class="container">
   <h1>My quote</h1>
   <hr>

   <div class="row">
     <div class="col-md-8" >
         
             <!-- <div class="card-body" >            -->
       <div *ngFor='let quote of quote;let i = index'>
        <div class=" card">
        <div *ngIf='quote.Upvotes==highest;then highlight else empty'></div>
          <ng-template #highlight>
            <ul>
              <li appHighlight > <span class="text-danger"></span> {{quote.Quote}} <br> {{quote.Author}} <span>
                  <p>Posted by; {{quote.Postedby}} </p>
                </span> {{quote.completeDate
                     |date| uppercase }} {{quote.completeDate|dateCount}} days ago. </li>
              
            </ul>
            <button class="button-Quote" (click)="showQuote(i)">Show more</button><br>
            <app-quote-detail *ngIf='quote.showDetails' (isComplete)='delete($event,i)'>
           </app-quote-detail><br>
           </ng-template>   
        <ng-template #empty>
          <ul>
            <li> <span class="text-danger"></span> {{quote.Quote}} <br> {{quote.Author}} <span>
                <p>Posted by; {{quote.Postedby}} </p>
              </span> {{quote.completeDate
                     |date| uppercase }} {{quote.completeDate|dateCount}} days ago. </li>
            
          </ul>
          <button class="button-Quote" (click)="showQuote(i)">Show more</button><br>
          <app-quote-detail *ngIf='quote.showDetails' (isComplete)='delete($event,i)'>             
          </app-quote-detail><br>
        </ng-template>
    </div>
    
         <!-- </div> -->
        </div>
     </div>
       <div class="col-md-4">
         <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
       </div>
       <!--         
        <p *ngIf='quote.length > 5'>You have too many goals</p> -->
     
   </div>


 </div>
