 
        <div class="container-fluid" id="buttons">
            
            
            <button class="btn btn-sm btn-success" (click)='upvote()'> Upvotes &nbsp;<i class="fa fa-thumbs-up" id="upvote" 
                 class="fa fa-thumbs-up" id="upvote"></i> </button> {{Upvotes}} 
            &nbsp;   &nbsp;
            <button class="btn btn-sm btn-danger" id="hate" (click)='downvote()'>  &nbsp;Dislikes <i class="fa fa-thumbs-down" id="downvote" ></i></button> {{downvotes}} 	
            &nbsp;
             <button class="btn btn-sm btn-danger" id="deleted" (click)='deleteQuote(true)'> <i class="fa fa-trash" id="delete"></i></button>  
          </div> 
                