/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("../src/assets/beach-g663b590c6_1920.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
}

/* * {

    box-sizing: border-box;
    
    margin: 0;
    
    padding: 0;
    
    } */
